/* General styles */
* {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #db6151;
    text-decoration: none;
}

.right {
    float: right;
    text-align: right;
}

.top-icon {
    position: relative;
    top: -4px;
    padding: 0 5px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

/* General layout */
html, body, body > div.ng-scope {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.y-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.columns {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.columns > div {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

/* Specific */
.title-bar {
    width: 100%;
    height: 25px;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    z-index: 10001;
    position: fixed;
    -webkit-app-region: drag;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.title-bar i {
    float: right;
    font-size: 18px;
    padding: 3px 7px 0 0;
    cursor: pointer;
}

.user {
    max-width: 500px;
    margin: 10px auto 0;
    font-family: 'Raleway', sans-serif;
}

.user img {
    width: 40px;
    position: relative;
}

.user .left img {
    left: 11px;
    display: block;
}

.user p {
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-align: right;
    margin: 8px 5px 18px;
}

.top-button {
    max-width: 500px;
    margin: 0 auto;
}

.top-button .button {
    background-color: #FF8271;
    width: 15%;
    height: 7px;
    float: right;
    margin-right: 15%;
    top: -7px;
    position: relative;
}

.container, .settings fieldset {
    max-width: 500px;
    margin: 0 auto 5px;
    text-align: center;
    border: 4px solid #FF8271;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.container h1 {
    margin: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}

#autocompleteLocation {
    margin-bottom: 20px;
}

.bio {
    margin: 0 0 15px 0;
}

.bio img {
    height: 22px;
    vertical-align: bottom;
}

.main-photo-container {
    height: 320px;
    position: relative;
    margin-top: 20px;
}

.main-photo-container img {
    max-width: 400px;
}

.main-photo {
    text-align: center;
    width: 300px;
    height: 300px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: #fff top left / contain no-repeat;
    z-index: 1000;
}

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay:hover,
.main-photo .pass-overlay:hover{
    cursor: -webkit-grab;
}

.small-photos div {
    display: inline-block;
    padding-right: 5px;
}

.small-photos img {
    width: 120px;
    height: 120px;
    /*max-width: 120px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #FAFAFA;
}

.small-photos img.selected {
    border: 5px solid #FF8271;
}

/* facebook login button */
#sign_in {
    background: url('../img/login-sprite.png') no-repeat 0 0;
    width: 340px;
    height: 72px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

#sign_in:hover {
    background-position-y: -72px;
}

#sign_in:active {
    background-position-y: -144px;
}

/* facebook login */
.fb-login {
    color: #404040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #4D4D4D;
    text-align: center;
}

.login-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-container .icon {
    padding-bottom: 30px;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #666666;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #222222;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}

/* Messages screen */
#messages {
    display: flex;
    height: 100%;
}

/* Chat */
#match-list {
    width: 185px;
    border-right: 1px solid #ddd;
    flex: initial;
}
#match-list.more-info {
    width: 215px;
}
#back-arrow {
    margin: 3px calc(75px - 1em);
}
.match {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    margin: 0 5px;
    height: 42px; /* Thumbnail size: 84px */
    cursor: pointer;
    color: inherit;
}
.match .thumbnail {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    float: left;
    height: 42px;
    width: 42px;
}
.match .name {
    margin: 0;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
}
.match.more-info {
    padding: 5px;
}

.match.more-info .name {
    line-height: 22px;
}

.match .info {
    margin: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

/* from http://codepen.io/samuelkraft/pen/Farhl */
#conversation {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
#conversation div {
    flex: 1;
}
#conversation h2 {
    padding: 0 14px 14px 11px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
#conversation .messages-list {
    overflow-y: scroll;
  overflow-x: hidden;
  padding: 14px;
}
#conversation .messages-list-empty {
  padding: 14px;
}

#conversation div.from-me,
#conversation div.from-them {
    max-width: 51%;
    word-wrap: break-word;
    margin-bottom: 10px;
}
#conversation textarea {
    font-size: 1em;
    outline: none;
    border: solid #ccc;
    border-width: 1px 0 0 0;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
      margin: 0;
}

.clear {
    clear: both;
}

#conversation img.emoji {
  width: 1em;
  height: 1em;
}

.from-me {
    position: relative;
    padding: 10px 15px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.from-them {
    position: relative;
    padding: 10px 15px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.settings h1 {
    text-align: center;
}

.info .last-them {
    color: #007a00;
}

.info .last-me-rest {
    color: #0000CC;
}

.info .last-me-pass {
    color: #cc00cc;
}
