/* General styles */
* {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #db6151;
    text-decoration: none;
}

.center {
    float: center;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.top-icon {
    position: relative;
    top: -4px;
    padding: 0 5px;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

/* General layout */
html, body, body > div.ng-scope {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.y-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

/* STATIC MENU BLOCK */
.menu {
    display: table;
    table-layout: fixed;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #DB6151;
    width: 100%;
}

.menu-logo {
	display: table-cell;
}

.menu-item {
	display: table-cell;
	font-size: 24px;
	text-align: center;
}

.menu-item a {
	display: block;
}

.menu-item:hover, .menu-item:hover a {
	color: white;
	background-color: #DB6151;
}

  
.menu .fa {
	display: none;
}

@media all and (max-width: 1034px) {

	.menu-item {
		padding: 4px;
	}

	.menu .text {
		display: none;
	}

	.menu .fa {
		display: inline;
		padding-top: 10px;
	}

}


/* Specific */
.title-bar {
    width: 100%;
    height: 25px;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
    z-index: 10001;
    position: fixed;
    -webkit-app-region: drag;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.title-bar i {
    float: right;
    font-size: 18px;
    padding: 3px 7px 0 0;
    cursor: pointer;
}

.header {
    position: absolute;
    right: 44%;
    margin-top: 18px;
    z-index:99999;
}

.user {
    max-width: 500px;
    margin: 10px auto 0;
    font-family: 'Raleway', sans-serif;
}

.user img {
    width: 40px;
    position: relative;
}

.user .left img {
    left: 11px;
    display: block;
}

.user p {
    display: inline-block;
    font-size: 12px;
    position: relative;
    text-align: right;
    margin: 8px 5px 18px;
}

.container .loader {
/* Give this one a nice new position, maybe in the most centered place of the whole page */
}

.container .loader-anim {
    border: 2px solid;
    border-color: transparent #FF8271 #FF8271 #FF8271;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 24px;
    -webkit-animation: single-arc-rotate 1s infinite linear;
    animation: single-arc-rotate 1s infinite linear;
    animation-name: single-arc-rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

@-webkit-keyframes single-arc-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes single-arc-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container h1 {
    margin: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}

.responsive-profile {
    background-color: white;
       display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

@media all and (max-width: 1034px) {

	.responsive-profile {
	   -webkit-flex-flow: column;
			   flex-flow: column;
	}

}

#autocompleteLocation {
    margin-bottom: 20px;
}

.bio {
	text-align: center;
	white-space: pre-wrap;
}

.bio img {
    height: 22px;
    vertical-align: bottom;
}

.main-photo-container {
       -webkit-flex: 0 0 640px;
           flex: 0 0 640px;
   -webkit-order: 1;
           order: 1;
    margin: 16px;
	position: relative;
}

.main-photo-container img {
    max-width: 640px;
}

.main-photo {
    text-align: center;
    width: 640px;
    height: 640px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff top left / contain no-repeat;
    z-index: 1000;
	position: absolute;
}

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay:hover,
.main-photo .pass-overlay:hover{
    cursor: -webkit-grab;
}

.profile {
   -webkit-flex: auto;
           flex: auto;
   -webkit-order: 2;
           order: 2;
	margin: 16px;
}

@media all and (max-width: 1034px) {
	.profile, .main-photo-container {
	   -webkit-order: 0;
			   order: 0;
	}
}

.name {
	text-align: center;
}

.status {
	text-align: center;
}

.schoolwork {
	display: block;
	text-align: center;
}

.school, .work {
	display: block;
}

.small-photos div {
    display: inline;
}

.small-photos  {
	margin: auto;
}       

.small-photos img {
    width: 120px;
    height: 120px;
    /*max-width: 120px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #FAFAFA;
	margin: 8px;
}

.small-photos img.selected {
    border: 5px solid #FF8271;
}

.information {
}

/* facebook login button */
#sign_in {
    background: url('../img/login-sprite.png') no-repeat 0 0;
    width: 340px;
    height: 72px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

#sign_in:hover {
    background-position-y: -72px;
}

#sign_in:active {
    background-position-y: -144px;
}

/* facebook login */
.fb-login {
    color: #404040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #4D4D4D;
    text-align: center;
}

.login-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-container .icon {
    padding-bottom: 30px;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #666666;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #222222;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}

/* Messages screen */
#messages {
    display: flex;
    height: 100%;
    overflow: hidden;
}


/* Chat */
#match-list {
    border-right: 1px solid #ddd;
    flex: 0 0 185px;
}
.match-header {
  display: flex;
  height: 53px;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #DDD;
  justify-content: center;
  position: absolute;
  top: 0;
  background: white;
  width: 234px;
}
#match-list.more-info {
    flex: 0 0 230px;
}
#back-arrow {
    margin: 3px calc(75px - 1em);
}
.match {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    height: 42px; /* Thumbnail size: 84px */
    cursor: pointer;
    color: inherit;
}
.match:hover {
    background-color: rgba(245, 245, 245, 0.5);
}
.match.selected {
    background-color: #F5F5F5;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.match .thumbnail {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    float: left;
    height: 42px;
    width: 42px;
}
.match .name {
    margin: 0;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
}
.match.more-info {
    padding: 5px;
}

.match.more-info .name {
    line-height: 22px;
}

.match .info {
    margin: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

/* from http://codepen.io/samuelkraft/pen/Farhl */
#conversation {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    font-weight: normal;
	flex: auto;
    display: flex;
    flex-direction: column;
}
#conversation div {
    flex: 1;
}
#conversation h2 {
    padding: 0 14px 21px 11px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}
#conversation .messages-list {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 14px;
}
#conversation .messages-list-empty {
    padding: 14px;
}

#conversation div.from-me,
#conversation div.from-them {
    max-width: 51%;
    word-wrap: break-word;
    margin-bottom: 10px;
}
#conversation textarea {
    font-size: 1em;
    outline: none;
    border: solid #ccc;
    border-width: 1px 0 0 0;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
      margin: 0;
}

.clear {
    clear: both;
}

.from-me {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    z-index: 10;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.sentAt {
    position: absolute;
    z-index: 9;
    opacity: 0;
    color: #555;
    min-width: 160px;
}

.from-them-date {
    right: -110px;
}

.from-them-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(55px);
}

.from-them-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(-55px);
}

.from-me-date {
    left: -110px;
}

.from-me-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(-55px);
}

.from-me-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(55px);
}

.from-them {
    cursor: pointer;
    position: relative;
    z-index: 10;
    padding: 10px 15px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.pending-message {
    color: #DAE3EA;
}

/* Settings Page */

.settings {
	clear: both;
	}

.settings fieldset {
    margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
    position: relative;
    width:400px;
}

.settings legend {
	padding-left: 4px;
	padding-right: 4px;
}

.info .last-them {
    color: #007a00;
}

.info .last-me-rest {
    color: #0000CC;
}

.info .last-me-pass {
    color: #cc00cc;
}

.message-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 53px;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid #DDD;
}

.scrollable-matchlist {
    margin-top: 50px;
}

.unmatch-button {
    background-color: white;
    color: #f15626;
    border: 0px;
    cursor: pointer;
    transition: all .2s linear;
}

.unmatch-button.hover {
    opacity: 0.8;
}

/* Discovery Settings Page */
section.range-slider {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 18px;
    display: inline-block;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 200px;
    outline: none;
    height: 18px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    width: 11px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, .15);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

ul.from-to {
    display: block;
    list-style-type: none;
    margin-top: 10px;
    font-family: Arial, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

ul.from-to li {
    margin-bottom: 1px;
}

ul.from-to li label {
    background-color: rgba(0, 0, 0, .1);
    height: 24px;
    line-height: 24px;
    display: inline-block;
    width: 60px;
    padding: 0 10px;
    float: left;
    font-size: 9px;
    color: rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

ul.from-to li input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    outline: none;
}
