<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Tinder⁺⁺</title>
  <meta name="description" content="Desktop optimized Tinder">

  <link rel="stylesheet" href="css/normalize.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/sweet-alert.css"/>

  <script>
    var moment = require('moment');
  </script>
  <script type="text/javascript" src="js/vendor/ga-localstorage.js"></script>
  <script>
    ga_storage._setAccount('UA-57228925-3');
    ga_storage._trackPageview('/index.html');
  </script>
  <script src="js/error_handler.js"></script>
  
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/ngAutocomplete.js"></script>
  <script src="js/vendor/angular-route.min.js"></script>
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/mousetrap.min.js"></script>
  <script src="js/vendor/swing.js"></script>
  <script src="js/vendor/sweet-alert.min.js"></script>
  <script src="js/vendor/twemoji.min.js"></script>

  <script src="js/tinder++.api.js"></script>
  <script src="js/tinder++.login.js"></script>
  <script src="js/tinder++.swipe.js"></script>
  <script src="js/tinder++.messages.js"></script>
  <script src="js/tinder++.profile.js"></script>
  <script src="js/tinder++.settings.js"></script>
  <script src="js/tinder++.js"></script>
  <script src="js/tinder++.updater.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
</head>
<body ng-app="tinder++">
<!--<div class="title-bar"><i class="fa fa-times" onclick="window.close()"></i>Tinder++</div>-->

<div ng-view></div>

<script type="text/ng-template" id="swipe.html">
  <div class="user">
    <div class="left" ng-show="apiQueue.length > 0">
      <a href="" ng-click="undo()">
        Undo <i class="fa fa-undo"></i>
        <img ng-src="{{apiQueue[0].user.photos[0].processedFiles[3].url}}" />
      </a>
    </div>
    <div class="right">
      <p>
        {{getCookie('name')}}
        <span ng-show="(likesRemaining !== null)">
          <br>
          Likes Remaining: {{likesRemaining ? '<' + likesRemaining : likesRemaining}}
        </span>
        <br>
        <a href="" ng-click="toggleLocation()" >({{getCookie('currentCity') ? getCookie('currentCity') : 'set location'}})</a> | 
        <a href="#/settings">Settings</a>
      </p>
      <a ng-href="#/profile/{{getCookie('userId')}}">
        <img ng-src="{{getCookie('smallPhoto')}}" />
      </a>
      <a ng-href="#/messages">
        <i class="fa fa-envelope fa-3x top-icon"></i>
      </a>
      <div ng-show="showLocation">
        <input type="text" ng-autocomplete ng-model="autocomplete" options="autocompleteOptions" details="details"
               placeholder="Change Location" id="autocompleteLocation" />
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="top-button">
    <div class="button"></div>
  </div>
  <div class="container">
    <div ng-show="allPeople.length === 0 || peopleIndex >= allPeople.length">Loading...</div>
    <div ng-show="allPeople.length > 0 && peopleIndex < allPeople.length">
      <h1 class="fader">{{allPeople[peopleIndex].name}}, {{allPeople[peopleIndex].birth_date | bdayToAge}}&nbsp;</h1>
      <h3 class="fader" style="display: inline;">{{allPeople[peopleIndex].distance_mi}} miles {{getCookie('currentCity') ? "from " + getCookie('currentCity') : 'away'}}, Active {{allPeople[peopleIndex].ping_time | pingToAgo}}</h3>

      <div class="main-photo-container">
        <div class="main-photo tinder-card" ng-repeat="user in allPeople.slice().reverse()" render-images-directive
             style="background-image: url({{user.photos[user.photoIndex].processedFiles[1].url}});">
          <div class="pass-overlay">
            <i class="fa fa-thumbs-o-down"></i>
          </div>
          <div class="like-overlay">
            <i class="fa fa-thumbs-o-up"></i>
          </div>
        </div>
      </div>
      <p class="fader bio">
        <span dd-text-collapse dd-text-collapse-max-length="48" dd-text-collapse-text="{{allPeople[peopleIndex].bio || 'No Bio' | emoji}}"></span>
      </p>

      <div class="small-photos fader">
        <div ng-repeat="photo in allPeople[peopleIndex].photos">
          <img ng-src="{{photo.processedFiles[2].url}}" ng-click="swapPhoto($index)" data-photo-index="{{$index}}"
               ng-class="{'selected': $index === allPeople[peopleIndex].photoIndex}" />
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="login.html">
  <div class="fb-login">
    <div class="login-container">
      <img src="img/icon.png" alt="Tinder++" class="icon" />
      <a id="sign_in" href="" ng-click="startLogin()"></a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="messages.html">
  <div id="match-list">
    <a ng-href="#/swipe"><i id="back-arrow" class="fa fa-arrow-left fa-2x"></i></a>
    <div ng-repeat="match in conversations | orderObjectBy:'lastActive':true track by match.matchId"
         ng-click="open(match.matchId)" class="match">
      <img ng-src="{{match.thumbnail || 'img/anonymous.png'}}" class="thumbnail"/>
      <p class="name">{{match.name || 'Unknown'}}</p>
    </div>
  </div>
  <div id="conversation" ng-show="conversation">
    <h2 class="message-header">
      Chat with <a ng-href="#/profile/{{conversation.userId}}">{{conversation.name}}</a>
    </h2>
    <div ng-show="conversation.messages.length == 0">
      No messages yet. Write something!
    </div>
    <div ng-repeat-start="message in conversation.messages"
         class="{{message.fromMe ? 'from-me' : 'from-them'}}">
      <p ng-if="message.text">{{message.text}}</p>
    </div>
    <div ng-repeat-end class="clear"></div>
    <textarea ng-keypress="keypress($event)" ng-model="message" rows="4" placeholder="Insert something witty here...">
  </div>
</script>

<script type="text/ng-template" id="profile.html">
  <a ng-href="{{backLink}}">
    <i class="fa fa-arrow-left fa-3x top-icon"></i>
  </a>
  <div class="container" ng-show="user">
    <h1 class="fader">{{user.name}}, {{user.birth_date | bdayToAge}}</h1>
    <h3 class="fader" style="display: inline;">{{user.distance_mi}} miles away, Active {{user.ping_time | pingToAgo}}</h3>

    <div class="main-photo-container">
      <div class="main-photo tinder-card"
           style="background-image: url({{user.photos[photoIndex].processedFiles[1].url}});">
      </div>
    </div>

    <p class="fader bio">
      <span dd-text-collapse dd-text-collapse-max-length="48"
            dd-text-collapse-text="{{user.bio || 'No Bio' | emoji}}">
      </span>
    </p>

    <div class="small-photos fader">
      <div ng-repeat="photo in user.photos">
        <img ng-src="{{photo.processedFiles[2].url}}" ng-click="swapPhoto($index)" data-photo-index="{{$index}}"
             ng-class="{'selected': $index === photoIndex}" />
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="settings.html">
  <a ng-href="#/swipe">
    <i class="fa fa-arrow-left fa-3x top-icon"></i>
  </a>
  <div class="settings">
    <h1>Settings</h1>
    <form name="tppSettings">
      <fieldset>
        <legend>Landing Page</legend>
        <label for="landingPage_1">
          <input type="radio" name="landingPage" id="landingPage_1" value="/swipe" ng-model="settings.landingPage" ng-change="syncSettings()"/>
          Swipe
        </label>
        <br/>
        <label for="landingPage_2">
          <input type="radio" name="landingPage" id="landingPage_2" value="/messages" ng-model="settings.landingPage" ng-change="syncSettings()"/>
          Messages
        </label>
      </fieldset>

      <br/>

      <fieldset>
        <legend>Logout</legend>
        <a href="" ng-click="logout()">Click to Logout</a>
      </fieldset>
    </form>

  </div>
</script>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '547c3b42eddd5b206b009d37');
    t.src = 'https://secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">
  window.addEventListener('error', function(e) {
    console.log(e);
    ga_storage._trackEvent('JS Error', e.message, e.filename + ':  ' + e.lineno);
  });
</script>

</body>
</html>
