<div class="wrapper">
    <div class="wrapper-menu" ng-include src="'partials/menu.html'"></div>
    <div class="wrapper-page">
        <div class="container">
            <h1 ng-click="autoLikeGirls()">Start Swiping!</h1>

            <div ng-repeat="girl in likedGirls track by $index">
                <div><p>We just liked {{girl.name}} who is {{ girl.age }} years old and lives {{ girl.distance }} away from you.</p></div>
            </div>

            <h2>{{likedGirls}}</h2>
        </div>
    </div>
</div>
