<div style="height: 100%">
  <div ng-include src="'partials/menu.html'"></div>

    <div class="settings-box">
      <div class="text-center settings-title">
        <a href="#/settings">Settings</a>
        Discovery Settings
      </div>

    <div class="settings" style="margin-top:10px">
      <form name="discoverySettings">

      <div ng-show="DiscoverySettings.tinder_plus" class="config">
        <div class="settings-header">Passport</div>
        <div class="settings-opts">
          <div column>
            <input type="text"
                   ng-autocomplete 
                   ng-model="autocomplete" 
                   options="autocompleteOptions" 
                   details="details" 
                   class="passput"
                   placeholder="Change Location" 
                   id="autocompleteLocation" />
                <button ng-show="DiscoverySettings.is_traveling" ng-click="resetPassport()" class="tinder-bttn">
                  {{DiscoverySettings.is_traveling ? 'Reset' : 'Change'}} location
                </button>
          </div>
        </div>
      </div>

      <div class="config">
        <div class="settings-header">Discoverable</div>
        <div class="settings-opts">
          <label for="Yes">
            <input type="radio" name="discoverable" id="discoverable_1" value="1" ng-model="DiscoverySettings.discoverable" />
            Yes
          </label>
          <label for="No">
            <input type="radio" name="discoverable" id="discoverable_2" value="0" ng-model="DiscoverySettings.discoverable" />
            No
          </label>
        </div>
      </div>

      <div class="config">
        <div class="settings-header">Show me:</div>
        <div class="settings-opts">
          <label for="Female">
            <input type="radio" name="chooseGender" id="chooseGender_1" value="1" ng-model="DiscoverySettings.gender_filter" />
            Female
          </label>
          <label for="Male">
            <input type="radio" name="chooseGender" id="chooseGender_2" value="0" ng-model="DiscoverySettings.gender_filter" />
            Male
          </label>
          <label for="Both">
            <input type="radio" name="chooseGender" id="chooseGender_3" value="-1" ng-model="DiscoverySettings.gender_filter" />
            Both
          </label>
        </div>
      </div>

      <div class="config">
        <div class="settings-header">Search Proximity</div>
        <div class="settings-opts">
          <label for="distance">
            <input type="range" name="distance" min="2" max="100" ng-model="DiscoverySettings.distance_filter" />
            {{DiscoverySettings.distance_filter | distanceToUnits}}
          </label>
        </div>
      </div>

      <div class="config">
        <div class="settings-header">Age Range</div>
        <div class="settings-opts" column>
          <label for="age">
            <section data-range-slider class="range-slider" ng-model="DiscoverySettings.age_filter" min="18" max="55"></section>
          </label>
          <div class="text-center">
            {{DiscoverySettings.age_filter.from}} to {{DiscoverySettings.age_filter.to}}
          </div>
      </div>
    </form>

  </div>
</div>
