<div ng-include src="'partials/menu.html'"></div>
<div class="settings" style="margin-top:10px">
  <h1>Settings</h1>
  <form name="tppSettings">
    <fieldset>
      <legend>Discoverable</legend>
      <label for="Yes">
        <input type="radio" name="discoverable" id="discoverable_1" value="1" ng-model="DiscoverySettings.discoverable" ng-change="updateDiscoverySettings()"/>
        Yes
      </label>
      <label for="No">
        <input type="radio" name="discoverable" id="discoverable_2" value="0" ng-model="DiscoverySettings.discoverable" ng-change="updateDiscoverySettings()"/>
        No
      </label>
    </fieldset>
    <fieldset>
      <legend>Show me:</legend>
      <label for="Female">
        <input type="radio" name="chooseGender" id="chooseGender_1" value="1" ng-model="DiscoverySettings.gender_filter" ng-change="updateDiscoverySettings()"/>
        Female
      </label>
      <label for="Male">
        <input type="radio" name="chooseGender" id="chooseGender_2" value="0" ng-model="DiscoverySettings.gender_filter" ng-change="updateDiscoverySettings()"/>
        Male
      </label>
      <label for="Both">
        <input type="radio" name="chooseGender" id="chooseGender_3" value="-1" ng-model="DiscoverySettings.gender_filter" ng-change="updateDiscoverySettings()"/>
        Both
      </label>
    </fieldset>
    <fieldset>
      <legend>Search Proximity</legend>
       <input type="range" name="distance" min="0" max="100" ng-model="DiscoverySettings.distance_filter" ng-change="updateDiscoverySettings()"/>
    </fieldset>
  </form>

</div>
