<div ng-include src="'partials/menu.html'"></div>
<div class="settings" style="margin-top:10px">
  <h1>Settings</h1>
  <form name="tppSettings">
    <fieldset>
      <legend>Show me:</legend>
      <label for="Women">
        <input type="radio" name="chooseGender" id="chooseGender_1" value="0" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
        Women
      </label>
      <label for="Men">
        <input type="radio" name="chooseGender" id="chooseGender_2" value="1" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
        Men
      </label>
      <label for="Both">
        <input type="radio" name="chooseGender" id="chooseGender_3" value="-1" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
        Both
      </label>
    </fieldset>
  </form>

</div>
