<div class="y-scroll">
  <div class="container" ng-show="user" style="margin-top:42px;">

     <div class="main-photo-container">
        <div class="main-photo tinder-card"
             style="background-image: url({{user.photos[photoIndex].processedFiles[1].url}});">
        </div>
      </div>

    <div class="information">
      <h1 class="fader">
        {{user.name}}
        <a ng-show="user.instagram" href="https://instagram.com/{{user.instagram.username}}" target="_blank">
          ({{user.instagram.username}})
        </a>
        , {{user.birth_date | bdayToAge}}&nbsp;
      </h1>
      <h3 class="fader" style="display: inline;">{{user.distance_mi | distanceToUnits}} away, Active {{user.ping_time | pingToAgo}}</h3>

      <p class="fader">
        <i ng-repeat="school in user.schools" class="fa fa-graduation-cap">{{school.name}}</i>
        <i ng-repeat="job in user.jobs" class="fa fa-briefcase">
          {{job.title.name}}{{job.company && job.title ? ' at ' : ''}}{{job.company.name}}
        </i>
      </p>
      <p ng-show="user.bio" class="fader bio" ng-bind-html="user.bio | emoji"></p>
    </div>

    <div class="small-photos fader">
      <div ng-repeat="photo in user.photos">
        <img ng-src="{{photo.processedFiles[0].url}}" ng-click="swapPhoto($index)" data-photo-index="{{$index}}"
             ng-class="{'selected': $index === photoIndex}" />
      </div>
    </div>


  </div>
</div>
