<div style="height:100%">
  <div ng-include src="'partials/menu.html'"></div>

  <div style="background-color: #f3f7f9;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column">
    <h1 class="text-center settings-title">Settings</h1>

    <div class="settings" style="margin-top:10px">
      <form name="tppSettings">

        <div class="config">
          <div class="settings-header">Landing Page</div>
          <div class="settings-opts">
            <label for="landingPage_1">
              <input type="radio" name="landingPage" id="landingPage_1" value="/swipe" ng-model="settings.landingPage" ng-change="syncSettings()"/>
              Swipe
            </label>
            <label for="landingPage_2">
              <input type="radio" name="landingPage" id="landingPage_2" value="/messages" ng-model="settings.landingPage" ng-change="syncSettings()"/>
              Messages
            </label>
          </div>
        </div>

        <br/>

        <div class="config">
          <div class="settings-header">Messages</div>
          <div class="settings-opts">
            <label for="extraInfo_1">
              <input type="radio" name="extraInfo" id="extraInfo_1" value="yes" ng-model="settings.messageListExtraInfo" ng-change="syncSettings()"/>
              Display Summary
            </label>
            <label for="extraInfo_2">
              <input type="radio" name="extraInfo" id="extraInfo_2" value="no" ng-model="settings.messageListExtraInfo" ng-change="syncSettings()"/>
              Hide Summary
            </label>
          </div>
        </div>

        <br/>

        <div class="config">
          <div class="settings-header">Distance Units</div>
          <div class="settings-opts">
            <label for="distanceUnits_1">
              <input type="radio" name="distanceUnits" id="distanceUnits_1" value="mi" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
              Miles
            </label>
            <label for="distanceUnits_2">
              <input type="radio" name="distanceUnits" id="distanceUnits_2" value="km" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
              Kilometres
            </label>
          </div>
        </div>

        <br/>

        <div class="config">
          <div class="settings-header">Location</div>
          <button class="tinder-bttn" ng-click="toggleLocation()" >{{getCookie('currentCity') ? getCookie('currentCity') : 'Set Location'}}</button>
          <div ng-show="showLocation">
          <input type="text" 
                 ng-autocomplete 
                 ng-model="autocomplete" 
                 options="autocompleteOptions" 
                 details="details" 
                 placeholder="Change Location" 
                 id="autocompleteLocation" />
          </div>
        </div>

        <br />

        <div class="config">
          <div class="settings-header">Logout</div>
          <button class="tinder-bttn" ng-click="logout()">Click to Logout</button>
        </div>
      </form>

    </div>
  </div>
</div>
