<div class="wrapper">
  <div class="wrapper-menu" ng-include src="'partials/menu.html'"></div>
  <div class="wrapper-page">
    <div class="container">
      <div ng-show="allPeople.length === 0 || peopleIndex >= allPeople.length">
        <div class="loader">
          {{'SWIPE.LOADING' | translate}}
          <div class="loader-anim"></div>
        </div>
      </div>
      <div ng-show="allPeople.length > 0 && peopleIndex < allPeople.length">
        <div class="responsive-profile">
          <div class="main-photo-container">
            <div class="main-photo tinder-card" ng-repeat="user in allPeople.slice().reverse()" render-images-directive
              style="background-image: url({{user.photos[user.photoIndex].processedFiles[0].url}});">
              <div class="pass-overlay">
                <i class="fa fa-thumbs-o-down"></i>
              </div>
              <div class="like-overlay">
                <i class="fa fa-thumbs-o-up"></i>
              </div>
            </div>
          </div>
          <!-- information including bio etc -->
          <div class="profile">
            <div class="information">
              <h1 class="name fader">
                {{allPeople[peopleIndex].name}}<a ng-show="allPeople[peopleIndex].instagram" href="https://instagram.com/{{allPeople[peopleIndex].instagram.username}}" target="_blank">
                ({{allPeople[peopleIndex].instagram.username}})</a>,
                {{allPeople[peopleIndex].birth_date | bdayToAge}}&nbsp;
              </h1>
              <h3 class="status fader">{{allPeople[peopleIndex].distance_mi | distanceToUnits}} {{getCookie('currentCity') ? "from " + getCookie('currentCity') : ('SWIPE.AWAY' | translate)}}, {{'SWIPE.ACTIVE' | translate}} {{allPeople[peopleIndex].ping_time | timeFromNow}}</h3>
              <p class="schoolwork fader">
                <i ng-repeat="school in allPeople[peopleIndex].schools" class="school fa fa-graduation-cap">{{school.name}}</i>
                <i ng-repeat="job in allPeople[peopleIndex].jobs" class="work fa fa-briefcase">
                {{job.title.name}} {{job.company && job.title ? ('SWIPE.AT' | translate) : ''}} {{job.company.name}}
                </i>
              </p>
              <p class="common-interests fader" ng-if="allPeople[peopleIndex].common_interests.length">
                <i class="fa fa-book"></i> {{allPeople[peopleIndex].common_interests.length}} {{'SWIPE.COMMON_INTERESTS' | translate}}
              </p>
              <p class="common-connections fader" ng-if="allPeople[peopleIndex].common_connections.length">
                <i class="fa fa-address-book"></i> {{allPeople[peopleIndex].common_connections.length}} {{'SWIPE.COMMON_CONNECTIONS' | translate}}
              </p>
              <p ng-show="allPeople[peopleIndex].bio" class="bio fader">{{ allPeople[peopleIndex].bio }}</p>
            </div>
            <!-- Common interest -->
            <div id="common-interest-wrapper" ng-show="allPeople[peopleIndex].common_interests.length">
                <h4>{{'SWIPE.COMMON_INTERESTS' | translate}}</h4>
                <span class="interest" ng-repeat="interest in allPeople[peopleIndex].common_interests">{{interest.name}}</span>
            </div>
            <!-- small inactive photos -->
            <div class="small-photos fader">
              <div ng-repeat="photo in allPeople[peopleIndex].photos">
                <img ng-src="{{photo.processedFiles[2].url}}" ng-click="swapPhoto($index)" data-photo-index="{{$index}}"
                  ng-class="{'selected': $index === allPeople[peopleIndex].photoIndex}" />
              </div>
            </div>
            <!-- instagram photos -->
            <div id="instagram-photos" ng-show="allPeople[peopleIndex].instagram">
              <div class="column-wrapper">
                  <div class="col">
                    <h4>Instagram</h4>
                  </div>
                  <div class="col">
                    <div class="profile-thumbnail-wrapper">
                      <a ng-href="{{'https://www.instagram.com/'+allPeople[peopleIndex].instagram.username}}" class="profile-thumbnail" target="_blank">
                        <div class="thumbnail-image" ng-style="{'background-image':'url('+allPeople[peopleIndex].instagram.profile_picture+')'}"></div>
                        <div class="thumbnail-name">{{allPeople[peopleIndex].instagram.username}}</div>
                      </a>
                    </div>
                  </div>
                  <div class="col text-right">
                    <h4>{{allPeople[peopleIndex].instagram.photos.length}} {{'SWIPE.INSTAGRAM_PHOTOS' | translate}}</h4>
                  </div>
              </div>
              <div class="small-photos fader">
                  <div ng-repeat="photo in allPeople[peopleIndex].instagram.photos | limitTo:instagramPhotosMaxCount">
                      <img ng-src="{{photo.thumbnail}}" data-photo-index="{{$index}}" />
                  </div>
                  <p ng-show="allPeople[peopleIndex].instagram.photos.length > instagramPhotosMaxCount" >
                      <a class="pointer" ng-click="instagramPhotosMaxCount = instagramPhotosMaxCount + instagramPhotosAtOnce">Show more</a>
                  </p>
              </div>
            </div>
            <!-- Common connections -->
            <div id="common-connections" ng-show="allPeople[peopleIndex].common_connections.length">
              <h4>common connections</h4>
              <div id="connections-wrapper" class="profile-thumbnail-wrapper">
                <div class="profile-thumbnail" ng-repeat="friend in allPeople[peopleIndex].common_connections">
                  <div class="thumbnail-image" ng-style="{'background-image':'url('+friend.photo.medium+')'}"></div>
                  <div class="thumbnail-name">{{friend.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
