	<div class="menu">
		<div class="menu-logo">
		  <a href="">
			[Place holder text for branding]
		  </a>
		</div>
		
		<div class="menu-icons">
			<div class="menu-icon">
			  <a href="#/swipe">
				<i class="fa fa-heart fa-3x top-icon"></i>
			  </a>
			</div>
			<div class="menu-icon">
			  <a ng-href="#/messages">
				<i class="fa fa-envelope fa-3x top-icon"></i>
			  </a>
			</div>
			<div class="menu-icon">
			  <a href="#/settings">
				<i class="fa fa-cog fa-3x top-icon"></i>
			  </a>
			</div>
		</div>
	</div>
